<div class="sidebar">
    <ul class="list-inline">
        <li class="list-inline-item"><a class="btn btn-primary" routerLink="/home">Inicio</a></li>
        <li class="list-inline-item"><a class="btn btn-secondary" routerLink="/about">Acerca de</a></li>
        <li class="list-inline-item"><a class="btn btn-success" routerLink="/contact">Contacto</a></li>
        <li class="list-inline-item"><a class="btn btn-success" routerLink="/countries/by-capital">Por Capital</a></li>
        <li class="list-inline-item"><a class="btn btn-success" routerLink="/countries/by-country">Por País</a></li>
        <li class="list-inline-item"><a class="btn btn-success" routerLink="/countries/by-region">Por Región</a></li>
        <li class="list-inline-item"><a class="btn btn-success" routerLink="/countries/country">País</a></li>
    </ul>
</div>
