<div
  *ngIf="countries.length === 0; else table"
  class="alert alert-warning text-center"
>
  No hay países que mostrar...
</div>

<ng-template #table>
  <div class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Icono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of countries; let i = index">
        <td><a [routerLink]="['/countries/country/', data.cca3]">Ver más...</a></td>
        <td><img [src]="data.flags.png" alt="{{ data.flags.alt }} Flag" width="50" height="30" /></td>
        <td><img [src]="data.coatOfArms.svg" alt="icono of {{data.name.common}}" width="30" height="30"></td>
        <td>{{ data.name.common }}</td>
        <td>{{ data.capital }}</td>
        <td>{{ data.population }}</td>
        <td></td>
      </tr>
    </tbody>
  </div>
</ng-template>