<div class="container">
    <div class="col-md-8 offset-md-2">
        <h1>¡Explora el mundo con Angular 17!</h1>
        <p>Bienvenidos a la búsqueda de países más completa, desarrollada con Angular 17 y la API de Rest Countries. Aquí
            podrás:</p>
        <ul>
            <li>Encontrar países por su capital: Simplemente escribe el nombre de la ciudad y te mostraremos todos los
                países
                que la tienen como capital.</li>
            <li>Descubrir la capital de un país: Introduce el nombre del país y te revelaremos su capital oficial.</li>
            <li>Explorar por región: Selecciona una región del mundo y te mostraremos todos los países que la conforman.
            </li>
            <li>Profundizar en cada país: Accede a una vista detallada con información completa sobre cualquier país,
                incluyendo
                su bandera, población, idioma, moneda y mucho más.</li>
        </ul>
        <div class="container" style="margin-bottom: 50px; margin-top: 50px;">
            <h2>¿Qué quieres descubrir?</h2>
            <div class="row justify-content-center" style="margin-top: 40px;">
                <div class="col-md-4">
                    <a class="btn btn-primary btn-equal align-center" routerLink="/countries/by-country">Explorar país por nombre de país</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-equal align-center" routerLink="/countries/by-capital">Explorar países por capital</a>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-primary btn-equal align-center" routerLink="/countries/by-region">Explorar países por región</a>
                </div>
            </div>
        </div>
    
        <div class="container" style="margin-bottom: 50px;">
            <h2>¡No te pierdas ningún detalle!</h2>
            <p>Visita la vista detallada de cada país para acceder a información completa:</p>
            <ul>
                <li>Nombre común</li>
                <li>Bandera</li>
                <li>Cantidad de población</li>
                <li>Código del país</li>
                <li>Traducciones a otros idiomas</li>
            </ul>
        </div>
        <div class="container" style="margin-bottom: 50px;">
            <h2>¡Disfruta de tu viaje por el mundo!</h2>
            <p>Desarrollado con:</p>
            <ul>
                <li>Angular 17</li>
                <li>API Rest Countries</li>
            </ul>
        </div>
    </div>
    
</div>