<div class="container">
    <div class="col-md-8 offset-md-2">
        <h1>Bienvenido a CountryApp</h1>
        <p>CountryApp es una plataforma para explorar información detallada sobre países de todo el mundo.</p>
        <p>En esta aplicación, puedes:</p>
        <ul>
            <li>Buscar países por su nombre, capital o región.</li>
            <li>Explorar detalles de cada país, incluyendo su bandera, población, idioma, moneda y más.</li>
            <li>Aprender sobre diferentes culturas y geografías del mundo.</li>
        </ul>
        <p>CountryApp está desarrollada con Angular y utiliza la API Rest Countries para obtener datos sobre países.</p>
    </div>
</div>
