<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center mb-4">Acerca de esta aplicación</h1>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Descripción</h3>
                    <p class="card-text">La aplicación "Países del Mundo" es una Single Page Application (SPA)
                        desarrollada con Angular que proporciona información detallada sobre países de todo el mundo.
                        Con esta aplicación, los usuarios pueden explorar datos relevantes sobre diferentes países, como
                        su capital, población, bandera y más.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Características principales</h3>
                    <ul class="card-text">
                        <li>Exploración por regiones</li>
                        <li>Búsqueda avanzada</li>
                        <li>Información detallada</li>
                        <li>Interfaz intuitiva y fácil de usar</li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Desarrollo</h3>
                    <p class="card-text">Esta aplicación fue desarrollada como parte de un proyecto de clase utilizando
                        las tecnologías modernas de desarrollo web, incluyendo Angular, Bootstrap y la API Rest
                        Countries para obtener datos en tiempo real sobre los países.</p>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Equipo de desarrollo</h3>
                    <ul class="card-text">
                        <li>Nombre del desarrollador: José Francisco Carrión Ramos</li>
                        <li>Correo electrónico: josefranciscocarrion.21&#64;gmail.com</li>
                        <li>GitHub: <a href="https://github.com/JFCR14">JFCR</a></li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Contacto</h3>
                    <ul class="card-text">
                        <div class="row" style="margin-top: 40px;">
                            <a class="btn btn-primary" routerLink="/contact">Página de Contacto</a>
                        </div>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>